<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout2/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout2/css/player.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jubuc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tetris.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <title>JUBUC - </title>
  </head>
  <body>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=206574139389252&autoLogAppEvents=1"></script>

  <!-- navigation -->
  <nav role="navigation" class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"><a  class="nav-link" href="" alt="" title=""><span class="fa fa-facebook"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-soundcloud"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-twitter"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-instagram"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-youtube"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-spotify"></span></a></li>
    </ul>

    <div class="col d-none d-lg-block" id="player">
        <audio id="music" preload="true">
          {% if track %}

          <source src="{{ url_for('static', filename='uploads/audio/' + track.audio.file) }}">

          {% else %}
          <source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
          <source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
          {% endif %}
        </audio>

        <div id="audioplayer" class="col">
            <span id="pButton" class="fa fa-play-circle-o fa-2x"></span>
            <div id="timeline">
                  <div id="playhead" class="border border-jubuc"></div><small><span id="duration"></span><span id="currenttime"></span></small>
            </div>
        </div>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" id="about-button" href="#about" alt="" title="">About</a></li>
      <li class="nav-item"><a class="nav-link" role="button" aria-expanded="false" area-controls="events" href="#events" alt="" title="">Shows</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" area-controls="media" href="#media" alt="" title="">News</a></li>
    </ul>
    </div>
  </nav>


  <main class="container-fluid px-0 px-0 text-center text-white">
      <section class="row jubuc-background pt-3">
          <div class="col px-5 mt-5">
              <img src="{{ url_for('static', filename='images/jubuc-logo.png') }}" class="animated bounce fast delay-3s" id="logo" width="50%">
              <h1 class="display-1">Lorem ipsum dolor sit amet</h1>
              <h2 class="text-mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
              <a class="btn btn-danger mb-4" data-toggle="collapse" role="buton" aria-expanded="false" href="#bookings">Book Jubuc</a>
          </div>
      </section>
  </main>

  <section id="bookings" class="collapse container-fluid bg-red text-white py-3">
      <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <form action="" method="POST">
          <div class="form-group">
              <label for="name">Name: </label>
              <input type="name" class="form-control" id="name">
          </div>

          <div class="form-group">
              <label for="email">Email: </label>
              <input type="email" class="form-control" id="email">
          </div>

          <div class="form-group">
              <label for="phone">Phone: </label>
              <input type="phone" class="form-control" id="phone">
          </div>

          <div class="form-group">
              <label for="message">Message: </label>
              <textarea type="message" class="form-control" id="message"></textarea>
          </div>
      </form>
  </section>

  <section id="about-modal" class="container text-center h-50 pt-4">
      <div class="row ">
          <div class="col">
              <h1>I AM JUBUC</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
  </section>

  <section id="photos" class="container-fluid">
    <div class="row">
      <div class="col-md-3 px-0 mx-0 ">
          <div class="info-container text-center">
              <img class="img-fluid image" src="{{ url_for('static', filename='images/j6.jpg') }}">
              <div class="img-info">
                <div class="img-text px-3 py-3 text-center ">
                    <p class="lead  text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>          
          </div>
      </div>

      <div class="col-md-3 px-0 mx-0 ">
          <div class="info-container text-center">
              <img class="img-fluid image" src="{{ url_for('static', filename='images/j5.jpg') }}">
              <div class="img-info">
                <div class="img-text px-3 py-3 text-center">
                    <p class="lead text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>          
          </div>
      </div>

      <div class="col-md-3 px-0 mx-0 ">
          <div class="info-container text-center">
              <img class="img-fluid image" src="{{ url_for('static', filename='images/j4.jpg') }}">
              <div class="img-info">
                <div class="img-text px-3 py-3 text-center">
                    <p class="lead text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>          
          </div>
      </div>

      <div class="col-md-3 px-0 mx-0 ">
          <div class="info-container text-center">
              <img class="img-fluid image" src="{{ url_for('static', filename='images/j3.jpg') }}">
              <div class="img-info">
                <div class="img-text px-3 py-3 text-center">
                    <p class="lead text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>          
          </div>
      </div>

      </div>
  </section>


  <section id="events" class="container pt-2">
      <div class="row">
          <table class="table table-striped table-responsive-xl">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Venue</th>
                      <th scope="col">City</th>
                      <th scope="col"></th>
                  </tr>
              </thead>

              <tr>
                  <td>Sat, May 4</td>
                  <td><a href="">Dollar Tree/Family Doller Merger</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>

              <tr>
                  <td>Sat, May 4</td>
                  <td><a href="">Dollar Tree/Family Doller Merger</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>

              <tr>
                  <td>Sat, May 4</td>
                  <td><a href="">Dollar Tree/Family Doller Merger</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>

              <tr>
                  <td>Sat, May 4</td>
                  <td><a href="">Dollar Tree/Family Doller Merger</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>

              <tr>
                  <td>Sat, May 4</td>
                  <td><a href="">Dollar Tree/Family Doller Merger</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>

              <tr class="w-100">
                  <td colspan="4">
                      <a href="" class="btn btn-danger btn-lg btn-block">Play My City</a>
                  </td>
              </tr>
          
          </table>
      </div>
  </section>

  <hr class="hr">

  <section id="blog" class="container-fluid">
      <div class="row">

          <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Jubuc</h4>
                        <div class="card-text lead text-truncate">
                          <h5><a href="" alt="" title="">Lorem ipsum dolor sit amet, consectetur</a></h5>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Last updated 3 mins ago</small>
                        <div class="fb-share-button float-right" data-href="https://www.jubuc.com" data-layout="button_count">
                        </div>
                    </div>
                </div>
            </div>
      
      </div>
  </section>

  <hr class="hr">

  <footer class="container-fluid text-center">
      <div class="row">
          <div class="col">
              <p class="lead mb-0 pb-0">Copyright&copy; 2019, JUBUC</p>
              <small>Site design: <a href="https://www.brizzle.dev">BrizzleDev</a></small>
          </div>
      </div>
  </footer>

  <script>
      $('#logo').addClass('animated bounceOutLeft');
  </script>
    
  </body>
</html>