<!-- Top Nav, Search & Login-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Brizzle.Dev</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Login</a>
        </li>
    </ul>
</nav>



<!-- Main Component navigation -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 d-non d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-user"></span>
                            Users
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-sticky-note"></span>
                            Orders
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-shopping-cart"></span>
                            Products
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-tasks"></span>
                            Projects
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-clipboard"></span>
                            Posts
                        </a>
                    </li>
                </ul>


                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Site Editor</span>
                    <a class="d-flex align-items-center text-muted" href="">
                        <span class="fa fa-plus">
                    </a>
                </h6>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-globe"></span>
                            Front Page
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-globe"></span>
                            About Page
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-globe"></span>
                            Contact Page
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-globe"></span>
                            Social Links
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-gear"></span>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>