{% extends 'admin/base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          {% endif %}
      {% endwith %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom">
        <h1 class="h2">Edit Post {{ post.title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('index') }}" target="_blank">View Site</a>
            </div>
        </div>
    </div>

    <form action="{{ url_for('edit_post', title=post.title) }}" method="POST" enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                <p class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="form-control")}}
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                
                {% if post.featured_image == None %}
                <p class="form-group">
                    {{ form.featured_image.label }}
                    {{ form.featured_image(class="form-control-file")}}
                    {% for error in form.featured_image.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% else %}
                <p class="form-group">
                    <img src="{{ url_for('static', filename='uploads/posts/'+post.featured_image) }}" class="img-thumbnail" width="100px">
                    <p class="text-muted">{{ post.featured_image }} <a href="">Change featured image</a></p>
                </p>
                {% endif %}

                <p class="form-group">
                    
                    {{ form.body(class="form-control")}}
                    {{ form.body.label(class="form-check-label") }}
                    {% for error in form.body.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.submit(class="btn btn-success") }}
                </p>
            
            </form>


</main>
{% endblock content %}