{% extends 'admin/base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  {{ message }}
              {% endfor %}
          {% endif %}
      {% endwith %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom">
        <h1 class="h2">Edit {{ show.title }} show</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('index') }}" target="_blank">View Site</a>
            </div>
        </div>
    </div>

    <form action="{{ url_for('edit_show', title=show.title) }}" method="POST" enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                <p class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class="form-control")}}
                    {% for error in form.title.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                
                {% if show.timestamp == None %}
                <div class="form-group">
                    {{ form.timestamp.label }}
                
                    <div class="form-group">
                        <div class="input-group date" id="timestamp" data-target-input="nearest">
                            <input type="text" name="timestamp" class="form-control datetimepicker-input" data-target="#timestamp" value=""/>
                            <div class="input-group-append" data-target="#timestamp" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                          $(function () {
                              $('#timestamp').datetimepicker('date');
                          });

                          $('.datetimepicker-input').each(function() {
                              var value = $(this).val();
			                  $(this).datetimepicker({
				                format: 'MM-DD-YYY HH:MM p',
			                	date: value
                    			});
			                  $(this).val(value);
                    		});

                    </script>

                    {% for error in form.timestamp.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% else %}
                <p class="form-group">
                    <p class="text-muted">{{ form.timestamp }} <a href="">Change date</a></p>
                </p>
                {% endif %}

                <p class="form-group">
                    {{ form.location.label }}
                    {{ form.location(class="form-control")}}
                    {% for error in form.location.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.url.label }}
                    {{ form.url(class="form-control")}}
                    {% for error in form.url.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                
                {% if show.featured_image == None %}
                <p class="form-group">
                    {{ form.featured_image.label }}
                    {{ form.featured_image(class="form-control-file")}}
                    {% for error in form.featured_image.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% else %}
                <p class="form-group">
                <img src="{{ url_for('static', filename='uploads/posts/'+show.featured_image) }}" class="img-thumbnail" width="100px">
                <p class="text-muted">{{ show.featured_image }} <a href="">Change Featured Image</a></p>
                </p>
                {% endif %}

                <p class="form-group">
                    
                    {{ form.details(class="form-control")}}
                    {{ form.details.label(class="form-control") }}
                    {% for error in form.details.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.submit(class="btn btn-success") }}
                </p>
            
            </form>

</main>
{% endblock content %}