{% extends 'core/base.html' %}
{% block content %}
<div class="container-fluid jubuc-background-clear">
</div>
<div class="container mt-5 text-danger" style="{% if admin_settings.site_dominant_color != " " %}color: {{ admin_settings.site_dominant_color }};{% else %}color: rgb(255, 0, 0); {% endif %}">
    <div class="card-columns">

        {% if posts %}
              {% for post in posts %}

        <div class="card">
            <img class="card-top" src="{{ url_for('static', filename='uploads/posts/' + post.featured_image) }}" style="max-height:500px;" alt="" title="">
            <div class="card-body">
               <h5 class="card-title"><a href="{{ url_for('blog_post', slug=post.slug) }}">{{ post.title }}</a></h5>
               <small class="card-title text-muted">{{ moment(post.timestamp).format('LL') }}</small>
               <p class="card-text">{{ post.body[:250]}}...</p>
            </div>
        </div>

                {% endfor %}
            {% endif %}

       
    </div>
</div>

  
{% endblock %}