{% extends 'core/base.html' %}
{% block content %}
  <main class="container-fluid px-0 px-0 text-center text-white">
      
      <section class="row jubuc-background pt-3">
          <div class="col px-5 mt-5">
              <img src="{% if admin_settings.site_logo_image %}{{ url_for('static', filename='images/' + admin_settings.site_logo_image) }}{% else %}{{ url_for('static', filename='images/jubuc-logo.png') }}{% endif %}" class="pl-5" id="logo" width="50%">
              <h1 class="display-1">{% if admin_settings.jumbotron_header != None  %}{{ admin_settings.jumbotron_header }}{% else %}Lorem ipsum dolor sit amet{% endif %}</h1>
              <h3 class="text-mute">{% if admin_settings.jumbotron_subheader != None %}{{ admin_settings.jumbotron_subheader }}{% else %}Lorem ipsum dolor sit amet, consectetur adipiscing elit{% endif %}</h3>
              <a class="btn btn-danger mb-4" style="{% if admin_settings.site_dominant_color != " " %}background-color: {{ admin_settings.site_dominant_color }}; border:1px solid {{ admin_settings.site_dominant_color }} !important; {% if admin_settings.site_accent_color %}{{ admin_settings.site_accent_color }} {% endif %}{% else %}background-color: rgb(255, 0, 0); {% endif %}" data-toggle="collapse" role="buton" aria-expanded="false" href="#bookings">Book Jubuc</a>
          </div>
      </section>
  </main>
  {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                {% if category == 'info'%}
                  {{ message }}
                {% endif %}
              {% endfor %}
          {% endif %}
      {% endwith %}
  <section id="bookings" class="collapse container-fluid text-white py-3" style="{% if admin_settings.site_dominant_color != " " %}background-color: {{ admin_settings.site_dominant_color }};{% else %}background-color: rgb(255, 0, 0); {% endif %}">
      <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <form action="{{ url_for('index') }}" method="POST" enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                <p class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class="form-control")}}
                    {% for error in form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control")}}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.phone.label }}
                    {{ form.phone(class="form-control")}}
                    {% for error in form.phone.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.subject.label }}
                    {{ form.subject(class="form-control")}}
                    {% for error in form.subject.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

                <p class="form-group">
                    {{ form.message.label }}
                    {{ form.message(class="form-control")}}
                    {% for error in form.message.errors %}
                        {{ error }}
                    {% endfor %}
                </p>


                <p class="form-group">
                    {{ form.submit(class="btn btn-success") }}
                </p>
            
            </form>
  </section>

  <section id="about-modal" class="container text-center h-50 pt-4">
      <div class="row ">
          <div class="col">
              <h1>{% if admin_settings.desc_header != None %}{{ admin_settings.desc_header }}{% else %}I AM JUBUC{% endif %}</h1>
              <p class="lead">{% if admin_settings.desc_details != None %}{{ admin_settings.desc_details}}{% else %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.{% endif %}</p>
          </div>
      </div>
  </section>

  <section id="photos" class="container-fluid">
    <div class="row">
      {% if photos %}
      {% for photo in photos %}
      <div class="col-md-3 px-0 mx-0 ">
          <div class="info-container text-center">
              <img class="img-fluid image" src="{% if photo.file != None %} {{ url_for('static', filename='uploads/' + photo.file) }}{% else %}{{ url_for('static', filename='images/j6.jpg') }}{% endif %}">
              <div class="img-info">
                <div class="img-text px-3 py-3 text-center ">
                    <p class="lead text-truncate">{% if photo.caption != None %} {{ photo.caption }}{% else %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{% endif %}</p>
                </div>
              </div>          
          </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-info alert-dismissible w-100 text-center" style="{% if admin_settings.site_dominant_color != " " %}background-color: {{ admin_settings.site_dominant_color }};{% else %}background-color: rgb(255, 0, 0); {% endif %}"><button type="button" class="close" data-dismiss="alert">&times;</button>No photos uploaded</div>
      {% endif %}

      </div>
  </section>


  <section id="events" class="container pt-2">
      <div class="row">
          <table class="table table-striped table-responsive-sm table-responsive-xl">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Venue</th>
                      <th scope="col">City</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              {% if shows %}
              {% for show in shows %}
              <tr>
                  <td>{{ moment(show.timestamp).format("LLLL") }}</td>
                  <td>{{ show.venue | safe}}</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button" style="{% if admin_settings.site_dominant_color != " " %}background-color: {{ admin_settings.site_dominant_color }}; border:1px solid {{ admin_settings.site_dominant_color }} !important; {% if admin_settings.site_accent_color %}{{ admin_settings.site_accent_color }} {% endif %}{% else %}background-color: rgb(255, 0, 0); {% endif %}" data-toggle="modal" data-target="#rsvpShow{{ show.id }}" >RSVP</a></td>
              </tr>
              <div class="modal fade" id="rsvpShow{{ show.id }}" tabindex="-1" role="dialog" aria-labeledby="rsvpShow{{ show.id }}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title text-danger mx-auto" id="rsvpShow{{ show.id }}Label">RSVP for <strong>{{ show.title }}</strong></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>

                          <div class="modal-body">
                              <form action="{{ url_for('index') }}" method="POST" enctype=multipart/form-data>
                              {{ form.hidden_tag() }}
                              <p class="form-group">
                                  {{ rsvp.name.label }}
                                  {{ rsvp.name(class="form-control")}}
                                  {% for error in rsvp.name.errors %}
                                      {{ error }}
                                  {% endfor %}
                              </p>

                              <p class="form-group">
                                  {{ rsvp.phone.label }}
                                  {{ rsvp.phone(class="form-control")}}
                                  {% for error in rsvp.phone.errors %}
                                      {{ error }}
                                  {% endfor %}
                              </p>

                              <p class="form-group">
                                  {{ rsvp.email.label }}
                                  {{ rsvp.email(class="form-control")}}
                                  {% for error in rsvp.email.errors %}
                                      {{ error }}
                                  {% endfor %}
                              </p>

                              <p class="form-group">
                                  {{ rsvp.request.label }}
                                  {{ rsvp.request(class="form-control")}}
                                  {% for error in rsvp.request.errors %}
                                      {{ error }}
                                  {% endfor %}
                              </p>

                              <p class="form-group">
                                  {{ rsvp.show.label }}
                                  {{ rsvp.show(class="form-control", value=show.id, readonly=readonly)}}
                                  {% for error in rsvp.show.errors %}
                                      {{ error }}
                                  {% endfor %}
                              </p>
                              
                              <div class="modal-footer">
                              <p class="form-group">
                              {{ rsvp.submit(class="btn btn-success") }}
                              </p>
                              </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              {% elif shows == '0' %}
              <tr>
                  <td colspan='4'><div class="alert alert-info alert-dismissible"><button style="button" class="close" data-dismiss="alert">&times;</button>No shows currently booked.</div></td>
              </tr>
              {% else %}
              <tr>
                  <td colspan='4'><div class="alert alert-info alert-dismissible"><button style="button" class="close" data-dismiss="alert">&times;</button>No shows currently booked.</div></td>
              </tr>
              {% endif %}


              <tr>
                  <td colspan="4">
                      <a class="btn btn-danger btn-lg btn-block" style="{% if admin_settings.site_dominant_color != " " %}background-color: {{ admin_settings.site_dominant_color }};{% else %}background-color: rgb(255, 0, 0); {% endif %}" href="{{ url_for('shows') }}">Play My City</a>
                  </td>
              </tr>
          
          </table>
      </div>
  </section>

  <hr class="hr">

  <section id="blog" class="container-fluid">
      <div class="row">
          {% if posts %}
              {% for post in posts %}
          <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="{{ url_for('static', filename='uploads/posts/' + post.featured_image) }}" height="250px">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="{% if post.author.avatar %}{{ url_for('static', filename='uploads/' + post.author.avatar) }}{% else %}https://picsum.photos/200/150/?random{% endif %}" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">{{ post.author.username }}</h4>
                        <div class="card-text lead">
                          <h5><a href="{{ url_for('blog_post', slug=post.slug) }}" style="{% if admin_settings.site_dominant_color != " " %}color: {{ admin_settings.site_dominant_color }} !important;{% else %}color: rgb(0, 255, 0); {% endif %}" alt="{{ post.title }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                          <p class="text-truncate">{{ post.body }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>{{moment(post.timestamp).format('LL')}}</small>
                        <div class="fb-share-button float-right" data-href="https://www.iamjubuc.com" data-layout="button_count">
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% endif %}
      
      </div>
  </section>
  {% endblock %}