{% extends 'core/base.html' %}
{% block content %}

<div class="container-fluid jubuc-background-clear">
</div>
  <div class="container mt-5 text-danger">
      <h2 class="border-bottom border-secondary pt-1">Come see Jubuc</h2>
      <div class="row">
          <div class="col-md-7">
              <h3>Upcoming shows</h3>

              
              <table class="table table-striped table-responsive-xl">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Venue</th>
                      <th scope="col">City</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              {% if shows %}
              {% for show in shows %}
              <tr>
                  <td>{{ moment(show.timestamp).format("LLLL") }}</td>
                  <td>{{ show.venue | safe}}</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>
              {% endfor %}
              {% endif %}

          
          </table>

          <h3>Past shows</h3>

          <table class="table table-striped table-responsive-xl">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Venue</th>
                      <th scope="col">City</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              {% if past_shows %}
              {% for past in past_shows %}
              <tr>
                  <td>{{ moment(past.timestamp).format("LLLL") }}</td>
                  <td>{{ past.venue | safe}}</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>
              {% endfor %}
              {% endif %}

          
          </table>
          <img src="{{ url_for('static', filename='images/j1.jpg') }}" alt="" title="" class="img-fluid ml-3" width="200px">
              <img src="{{ url_for('static', filename='images/j2.jpg') }}" alt="" title="" class="img-fluid" width="200px">
              <img src="{{ url_for('static', filename='images/j1.jpg') }}" alt="" title="" class="img-fluid" width="200px">

          </div>

          <div class="col-md-4 bg-danger text-white">
              <form action="" method="POST">
                  <h2 class="text-center pt-1">Book a show</h2>
                  <div class="form-group">
                      <label for="name">Name: </label>
                      <input type="name" class="form-control" id="name">
                  </div>

                  <div class="form-group">
                      <label for="email">Email: </label>
                      <input type="email" class="form-control" id="email">
                  </div>

                  <div class="form-group">
                      <label for="phone">Phone: </label>
                      <input type="phone" class="form-control" id="phone">
                  </div>

                  <div class="form-group">
                      <label for="message">Message: </label>
                      <textarea type="message" class="form-control" id="message"></textarea>
                  </div>
              </form>
          </div>
{% endblock %}