<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" context="https://www.iamjubuc.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="DJ Jubuc Baltimore">
    <meta property="og:description" content = "DJ Jubuc. Baltimore's leading DJ.">
    <meta propert="og:image" content="">
    <meta property="og:image:width" content="700">
    <meta property="og:image:height" content="600">
    <meta property="og:app_id" content="206574139389252">


    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout2/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout2/css/player.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jubuc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tetris.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
     {% block scripts %}
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ pagedown.include_pagedown() }}
    {% endblock %}
    <title>JUBUC - </title>
  </head>
  <body style="background-color:#E8E8E8;">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=206574139389252&autoLogAppEvents=1"></script>

  <!-- navigation -->
  <nav role="navigation" class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"><a  class="nav-link" href="" alt="" title=""><span class="fa fa-facebook"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-soundcloud"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-twitter"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-instagram"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-youtube"></span></a></li>
        <li class="nav-item"><a class="nav-link" href="" alt="" title=""><span class="fa fa-spotify"></span></a></li>
    </ul>

    <div class="col d-none d-lg-block" id="player">
        <audio id="music" preload="true">
          {% if track %}

          <source src="{{ url_for('static', filename='uploads/audio/' + track.audio.file) }}">

          {% else %}
          <source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
          <source src="http://www.alexkatz.me/codepen/music/interlude.ogg">
          {% endif %}
        </audio>

        <div id="audioplayer" class="col">
            <span id="pButton" class="fa fa-play-circle-o fa-2x"></span>
            <div id="timeline">
                  <div id="playhead" class="border border-jubuc"></div><small>{{ track.audio.name }}<span id="duration"></span><span id="currenttime"></span></small>
            </div>
        </div>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" id="about-button" href="{{ url_for('index') }}" alt="" title="">Home</a></li>
      <li class="nav-item"><a class="nav-link" id="about-button" href="{{ url_for('about') }}" alt="" title="">About</a></li>
      <li class="nav-item"><a class="nav-link" role="button" aria-expanded="false" area-controls="events" href="{{ url_for('shows') }}" alt="" title="">Shows</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" area-controls="media" href="{{ url_for('index') }}" alt="" title="">News</a></li>
    </ul>
    </div>
  </nav>

<div class="container-fluid jubuc-background-clear">
</div>
  <div class="container mt-5 text-danger">
      <h2 class="border-bottom border-secondary pt-1">Come see Jubuc</h2>
      <div class="row">
          <div class="col-md-7">
              <h3>Upcoming shows</h3>
              <table class="table table-striped table-responsive-xl">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Venue</th>
                      <th scope="col">City</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              {% if shows %}
              {% for show in shows %}
              <tr>
                  <td>{{ moment(show.timestamp).format("LLLL") }}</td>
                  <td>{{ show.venue | safe}}</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>
              {% endfor %}
              {% endif %}

          
          </table>

          <h3>Past shows<h3>

          <table class="table table-striped table-responsive-xl">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Venue</th>
                      <th scope="col">City</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              {% if past_shows %}
              {% for past in past_shows %}
              <tr>
                  <td>{{ moment(past.timestamp).format("LLLL") }}</td>
                  <td>{{ past.venue | safe}}</td>
                  <td>Baltimore, MD</td>
                  <td><a class="btn btn-danger" type="button">RSVP</button></td>
              </tr>
              {% endfor %}
              {% endif %}

          
          </table>
          </div>

          <div class="col-md-4 bg-danger text-white">
              <form action="" method="POST">
                  <h2 class="text-center pt-1">Book a show</h2>
                  <div class="form-group">
                      <label for="name">Name: </label>
                      <input type="name" class="form-control" id="name">
                  </div>

                  <div class="form-group">
                      <label for="email">Email: </label>
                      <input type="email" class="form-control" id="email">
                  </div>

                  <div class="form-group">
                      <label for="phone">Phone: </label>
                      <input type="phone" class="form-control" id="phone">
                  </div>

                  <div class="form-group">
                      <label for="message">Message: </label>
                      <textarea type="message" class="form-control" id="message"></textarea>
                  </div>
              </form>
          </div>

  

    <footer class="container-fluid text-center">
      <div class="row">
          <div class="col">
              <p class="lead mb-0 pb-0">Copyright&copy; 2019, JUBUC</p>
              <small>Site design: <a href="https://www.brizzle.dev">BrizzleDev</a></small>
          </div>
      </div>
  </footer>
</div>
  <script>
      $('#logo').addClass('animated bounceOutLeft');
  </script>
    
  </body>